@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  height: 100%;
  background: linear-gradient(to right, #066555 50%, #fcf9f9 50%) fixed;
}

.title {
  text-align: center;
  animation: slideDown 1s ease forwards;
}

.title h1 {
  font-size: 40px;
  font-weight: 900;
  margin-top: 50px;
  display: inline-block;
  color: #ff5733;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.container {
  background: #fff;
  width: 400px;
  padding: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 15px 30px 35px rgba(0, 0, 0, 0.611);
  border-radius: 10px;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.stats {
  text-align: right;
  color: rgb(0, 0, 0);
  font-weight: 600;
  line-height: 25px;
}

.coin {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 50px auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.tails {
  transform: rotateX(180deg);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.coin img {
  width: 145px;
}

.heads,
.tails {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

button {
  width: 120px;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

#flip-button:hover {
  background: #06768c;
  color: #fff;
}

#flip-button:disabled {
  background-color: #e1e1ee;
  color: #101020;
  border-color: #e1e1ee;
}

#reset-button:hover {
  background: #000000;
  color: #fbfbfb;
  border: none;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spin-tails {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(1980deg);
  }
}

@keyframes spin-heads {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(2160deg);
  }
}
